@model IEnumerable<ZenithWebSite.Models.ZenithModels.Event>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zenith Society</h1>
    <p class="lead">This Week's Events</p>
</div>

<div class="row">
    @foreach (var group in Model.GroupBy(p => p.EventStart.Day))
    {
        <table class="table">
            <tr>
                <th colspan="4" style="background-color:#6495ED">
                    @String.Format("")
                    @Html.ValueFor(groupItem => group.First().EventStart.Date, "{0:dddd MMMM d yyyy}")
                </th>
            </tr>
            @foreach (var item in group)
            {

                <tr>
                    <td style="width:7%">
                        @String.Format("")
                        @Html.ValueFor(modelItem => item.EventStart, "{0:hh:mm tt}")
                    </td>
                    <td style="width:3%">
                        -
                    </td>
                    <td style="width:7%">
                        @String.Format("")
                        @Html.ValueFor(modelItem => item.EventEnd, "{0:hh:mm tt}")
                    </td>
                    <td style="padding-left:30px">
                        @Html.DisplayFor(modelItem => item.ActivityDetails.Description)
                    </td>
                </tr>
            }
        </table>
    }
</div>

